{% extends "base.html" %}

{% block content %}
<style>
    #myInput {
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
    }

    #myTable th, #myTable td {
        text-align: left; /* Left-align text */
        padding: 12px; /* Add padding */
    }

    #myTable tr {
        /* Add a bottom border to all table rows */
        border-bottom: 1px solid #ddd; 
    }

    #myTable tr.header, #myTable tr:hover {
        /* Add a grey background color to the table header and on hover */
        background-color: #f1f1f1;
    }
    label {
        display: inline-block;
    }

</style>
<body>
    <center>
        <div id="box">  
            <h3>LGBT+ Lesbian, Gay, Bisexual, and Transgender</h3>    
        </div>

        <div id="grid">
                <div>
                    <a href="/">Ally</a>
                </div>
                <div>
                    <a href="/q">Questioning</a>
                </div>
                <div>
                    <a href="/">Educator</a>
                </div>
        </div>
        <div id="box">
            <h3>Search</h3>
            <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for organization name..">
            <br>
            <label><input type="checkbox" id="hotline"> hotline</label>
            <label><input type="checkbox" id="addiction"> addiction</label>
            <label><input type="checkbox" id="crisis intervention"> crisis intervention</label>
            <label><input type="checkbox" id="domestic violence"> domestic violence</label>
            <label><input type="checkbox" id="assault"> assault</label>
            <label><input type="checkbox" id="housing"> housing</label>
            <label><input type="checkbox" id="food"> food</label>
            <label><input type="checkbox" id="sti testing"> STI testing</label>
            <label><input type="checkbox" id="ob/gyn services"> OB/GYN services</label>
            <label> <input type="checkbox" id="counseling"> counseling</label>
            <label><input type="checkbox" id="shower/hygeine"> shower/hygeine</label>
            <label><input type="checkbox" id="laundry"> laundry</label>
            <label><input type="checkbox" id="hiv resources"> HIV resources</label>
            <label><input type="checkbox" id="condoms"> condoms</label>
            <label><input type="checkbox" id="jobs/job skills"> jobs/job skills</label>
            <label><input type="checkbox" id="trauma"> trauma</label>
            <label><input type="checkbox" id="medical services"> medical services</label>
            <label><input type="checkbox" id="foster care"> foster care</label>
            <label><input type="checkbox" id="legal services"> legal services</label>
            <label> <input type="checkbox" id="disability advocacy"> disability advocacy</label>
            <label><input type="checkbox" id="clothing"> clothing</label>
            <label><input type="checkbox" id="gender services"> gender services</label>
            <label><input type="checkbox" id="support"> support</label>
            <label><input type="checkbox" id="veterans"> veterans</label>
            <label><input type="checkbox" id="social"> social</label>
            <label><input type="checkbox" id="cost effective"> cost effective</label>
            <label><input type="checkbox" id="case management"> case management</label>
            <label><input type="checkbox" id="vaccination"> vaccination</label>

            <br>
            <button id="filter" onclick="filterFunction()">Filter</button>
            <button id="reset" onclick="resetFunction()">Reset</button>
            <table id = "myTable" cellpadding = "3" cellspacing = "3" border = "1">
                <thead>
                    <tr class="header">
                        <th style="width:75%;">Organization</th>
                        <th style="width:25%;">Type</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <script>
                function filterFunction(){
                    resetFunction()
                    // Declare variables 
                    var input, filter, table, tr, td, i;
                    input = document.getElementById("myInput");
                    table = document.getElementById("myTable");
                    filters = ["vaccination","gender services","case management","cost effective","social","veterans","support","clothing","disability advocacy","legal services","foster care","medical services","trauma","jobs/job skills","laundry","condoms","hiv resources","shower/hygeine","counseling","ob/gyn services","sti testing","food","housing","assault","domestic violence","crisis intervention","addiction","hotline"];
                    new_filters=[];
                    for (j = 0; j < filters.length; j++){
                        var checkBox = document.getElementById(filters[j]);
                        console.log(filters[j])
                        console.log(checkBox.checked)
                        if (checkBox.checked == true){
                            console.log(filters[j])
                            new_filters.push(filters[j]);
                        }
                    }
                    filters=new_filters;
                    console.log(filters);
                    tr = table.getElementsByTagName("tr");
                    
                    var orgTags = {};
                    var orgs = {{resources.name | tojson}};
                    var tags = {{resources.tags | tojson}};
                    for (i = 0; i < orgs.length; i++){
                        orgTags[orgs[i]]=tags[i];
                    }
                    console.log(orgTags);

        
                    // Loop through all table rows, and hide those who don't match the search query
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                            tags=orgTags[td.textContent];
                            for (j = 0; j < filters.length; j++){
                                if (td) {
                                    if (tags.indexOf(filters[j]) <= -1) {
                                        tr[i].style.display = "none";
                                    }
                                }
                            }
                        } 
                    }
                }
                function resetFunction(){
                    // Declare variables 
                    var input, filter, table, tr, td, i;
                    input = document.getElementById("myInput");
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
        
                    // Loop through all table rows, and hide those who don't match the search query
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                            if (td) {
                                tr[i].style.display = "";
                            }
                        } 
                    }
                }
                function searchFunction() {
                    // Declare variables 
                    var input, filter, table, tr, td, i;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
        
                    // Loop through all table rows, and hide those who don't match the search query
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        } 
                    }
                }
            </script>
            <script type = "text/javascript">			
                window.onload = function() {
                    var name = {{resources.name | tojson}};
                    var type = {{resources.type | tojson}};
                    var link = {{resources.link | tojson}};
                    var table = document.getElementById("myTable").getElementsByTagName("tbody")[0];
                    for(var i = 0; i < name.length; i++) {
                        var newTr = table.insertRow(-1);
                        if(link[i].length!=0){
                            var orgLink = document.createElement('a');
                            var href=link[i];
                            orgLink.href = href;
                            orgLink.innerHTML = name[i];
                            newTr.insertCell(-1).appendChild(orgLink);
                        }
                        else{
                            newTr.insertCell(-1).appendChild(document.createTextNode(name[i]));
                        }
                        newTr.insertCell(-1).appendChild(document.createTextNode(type[i]));
                    }
                }
            </script>

    </center>
</body>
{% endblock %}