{% extends "base.html" %}

{% block content %}
    <title>Map</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #grid2 {
        display: grid;
        height: 450px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 450px;
        column-gap: 20px;
      }
      
      #grid2 > div {
        background-color:#f1f1f1;
        border: 10px solid #f1f1f1;
      }
    </style>
  <body>
    <br>
    <center>
    <div id="grid2">
        <div id="map"></div>
    </div>
  </center>
  </body>
  <script>
      function initMap() {
        var myLatLng = {lat: 29.7604, lng: -95.3698};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: myLatLng
        });
        markers=[]
        var name={{data.name | tojson}};
        var lat={{data.lat | tojson}};
        console.log(lat[0])
        var lon={{data.lon | tojson}};
        for(var i=0; i< name.length;i++){
          var marker = new google.maps.Marker({
            position: {lat: lat[i], lng: lon[i]},
            map: map,
            title: name[i]
          });
          markers.push(marker)
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdo-0BwpU-DOU8JfbXD_Coen5QG2vfSSM&callback=initMap">
    </script>
{% endblock %}